.stack-work/
Hit.cabal
*~
dist-*
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*.swp
*.tag
*_flymake.hs
.stack-root/
TAGS
cabal-dev/
dist/
tags
/_release/
.vagrant/
*.imports
/.idea/
/*.iml
/src/highlight.js
/src/style.css
/_site/
/.dir-locals.el
/stack.cabal
/etc/scripts/stack-scripts.cabal